<div class="app-container">
  <!--Mostrar los botones solo si el usuario no está logueado-->
  <!-- <div *ngIf="!userService.isLoggedIn()" class="header">
    <button routerLink="/login">Login</button>
    <button routerLink="/register">Registrarse</button>
  </div> -->

  <!-- Mostrar el botón de cerrar sesión solo si el usuario está logueado -->
  <!-- <div *ngIf="userService.isLoggedIn()" class="header">
    <button (click)="logout()">Cerrar Sesión</button>
  </div>

  <div class="content">
    <h1>Bienvenidos a la Sala de Juegos</h1>
    <p>Disfruta de los mejores juegos y desafía tus habilidades.</p>
  </div> -->

  

  <router-outlet></router-outlet>
</div>
